•	# BEGIN Cache-Control Headers
•	<IfModule mod_headers.c>
•	<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz|webp)$">
•	Header set Cache-Control "max-age=2592000, public"
•	</FilesMatch>
•	<FilesMatch "\.(js)$">
•	Header set Cache-Control "max-age=2592000, private"
•	</FilesMatch>
•	<filesMatch "\.(html|htm)$">
•	Header set Cache-Control "max-age=7200, public"
•	</filesMatch>
•	# END Cache-Control Headers
•	# BEGIN Expires Headers
•	<IfModule mod_expires.c>
•	ExpiresActive On
•	ExpiresByType image/webp "access plus 1 week"
•	ExpiresByType image/png "access plus 1 week"
•	ExpiresByType text/css "access plus 1 week"
•	ExpiresByType text/x-javascript "access plus 1 week"
•	ExpiresByType application/x-shockwave-flash "access plus 1 week"
•	ExpiresByType image/x-icon "access plus 1 week"
•	ExpiresDefault "access plus 2 days"
•	</IfModule>
•	# END Expires Headers
